/* From https://code-boxx.com/drag-drop-sortable-list-javascript/ */

/* (A) LIST STYLES */
.slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .slist li {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    background: #eaeaea;
  }
  
  /* (B) DRAG-AND-DROP HINT */
  .slist li.hint { background: #fea; }
  .slist li.active { background: #ffd4d4; }
  
  /* (X) DOES NOT MATTER */
  html, body { font-family: arial, sans-serif; }